.links
	margin: 40px 0 20px
	&__title
		margin-bottom: 25px
		text-align: center
		font-size: 1.1rem
	&__list
		margin-left: -10px
		margin-right: -10px
		display: flex
		flex-wrap: wrap
		&-item
			margin: 0 5px 10px
			a
				line-height: 32px
				display: inline-block
				padding: 0 15px
				height: 32px
				border: 1px solid #DDDDDD
				text-transform: uppercase
				white-space: nowrap
				font-size: 11px
				+media-breakpoint-up(lg)
					&:hover
						border-color: $accent
			
+media-breakpoint-down(lg)
	.links
		margin: 30px 0
		&__list
			margin: 0 auto
		&__title
			font-size: 1.05rem