.tab-block
	.tab-nav
		margin: 0 0 24px
		padding: 0
		text-transform: uppercase
		font-size: 0.9em
		color: $color-tabs-nav
		font-weight: 500
		li
			margin-right: 1.8em
			list-style-type: none
			position: relative
			padding-bottom: 8px
			cursor: pointer
			transition: all 0.25s ease
			&:hover
				color: $text
			&:before
				content: ''
				position: absolute
				left: 50%
				bottom: 0
				transform: translateX(-50%)
				width: 30px
				height: 2px 
				background: $accent
				opacity: 0
			&.active
				color: $text
				&:before
					opacity: 1

.tab-products
	.product-item
		margin: 10px
	.slick-prev
		left: -40px
	.slick-next
		right: -40px
	+media-breakpoint-down(lg)
		padding: 0 10px
		.slick-prev
			left: -20px
		.slick-next
			right: -20px
	+media-breakpoint-down(xs)
		padding: 0 20px
		.product-item
			margin: 10px auto
		.slick-prev
			left: -8px
		.slick-next
			right: -8px

/*========== Media Desktop First  ==========*/

// ≥576px
+media-breakpoint-down(xs)
	.products-tabs
		&.tab-block
			.tab-nav
				margin-bottom: 14px
					