.filter
	padding-right: 19%
	text-shadow: 0 0 0 $text
	&-head
		margin-bottom: 20px
	&-categories
		list-style-type: none
		font-size: 13px
		padding: 0
		ul
			margin-top: 9px
			padding: 0 0 0 25px
		li
			margin-bottom: 9px
			line-height: 1.4
			list-style-type: none
		.current-url
			text-shadow: none
			font-weight: 700
		a:hover
			color: $accent
		&__item
			&:not(:last-child)
				border-bottom: 1px solid #e8e8e8
				padding-bottom: 9px
			&--closed
				.filter-categories__item-btn i
					transform: none
			&.has-child
				.filter-categories__item-btn
					display: inline-block
			&-head
				position: relative
				padding-right: 30px
			&-btn
				position: absolute
				top: 50%
				right: 0
				transform: translateY(-50%)
				color: #333
				width: 20px
				height: 20px
				border-radius: 3px
				line-height: 23px
				background: transparent
				font-size: 12px
				text-align: center
				transition: .25s
				cursor: pointer
				display: none
				+media-breakpoint-up(md)
					&:hover
						background: #f3f3f3
				i
					line-height: 1
					display: inline-block
					transform: rotate(180deg)
			&-content
				padding: 0
				user-select: none
				position: relative
				display: none
				&.open
					display: block

.chosen-filter__clear
	font-size: 0.9em
	color: $gray
	cursor: pointer
	text-shadow: 0 0 0 $text
	line-height: 1
	display: flex
	align-items: center
	transition: all 0.2s ease
	i
		color: $color-close-icon
		margin-right: 10px
		text-shadow: none
		font-size: 1.1em
		padding-top: 1px
		transform: translateY(2px)
		display: inline-block
	&:hover
		color: $black

.filter-tab
	// margin: 22px 0 0
	// padding-top: 20px
	padding-bottom: 22px
	border-top: 1px solid $color-border
	transition: all 0.3s ease
	&:last-child
		// margin-bottom: 0
		// padding-bottom: 22px
		border-bottom: 1px solid $color-border
	&.filter-tab__closed
		padding-bottom: 0
		.filter-tab__head
			&:before
				content: "\f0d7"
	&__head
		font-size: 0.9em
		text-transform: uppercase
		position: relative
		padding: 22px 25px 22px 0
		cursor: pointer
		font-weight: 500
		text-shadow: none
		user-select: none
		&:before 
			content: "\f0d8"
			position: absolute
			font-family: 'icomoon'
			right: 0
			top: 50%
			transform: translateY(-50%)
			color: #333
		&.filter-tab__close
			&:before
				content: "\f0d8"

.noUi-target
	border: none
	box-shadow: none
	background: $border-color
	height: 4px
	padding-left: 13px

.noUi-connects
	height: 4px

.noUi-horizontal .noUi-handle
	width: 16px
	height: 16px
	background-color: #fff
	border-radius: 50%
	border: 4px solid $accent
	box-shadow: none
	outline: none
	&:focus
		outline: none	

.noUi-handle
	&:before, &:after
		display: none
	// &.noUi-active
	// 	.noUi-tooltip
	// 		display: block

html:not([dir=rtl]) .noUi-horizontal .noUi-handle
	right: -2px

.noUi-connect
	background: $accent

#keypress
	margin-bottom: 25px

.noUi-horizontal .noUi-tooltip
	padding: 3px 7px 2px
	font-size: 0.9em
	display: none

.filter-price__slider
	.filter-price__input-wrap
		padding: 5px 8px
		border: 1px solid $color-border
		max-width: 36%
		flex-basis: 36%
		text-align: center
		text-align: center
		display: inline-flex
		input
			text-align: center
			padding: 0
			border: none
			margin-bottom: 0
			text-shadow: 0 0 0 #000
		.filter-price__currency
			font-size: 0.85em
			
	.filter-price__currency-text
		font-size: 0.86em

.input-hidden
	input
		display: none

// .filter-tab__content
// 	max-height: 218px
// 	overflow: hidden
// 	overflow-y: auto
.filter-tab__content
	position: relative
	// margin-top: 20px
	display: none
	&.open
		display: block

.filter-submit
	padding: 4px 7px
	z-index: 2
	margin-right: 2px
	background: $white
	box-shadow: 0 0 2px 0 $gray-3
	color: $text
	font-size: 0.8em
	cursor: pointer
	transform: translateY(-50%)

.filter-tab__options-list
	font-size: 0.95em
	margin: 0
	padding: 0
	list-style-type: none
	.filter-option__label
		list-style-type: none
		display: block
		margin-bottom: 14px
		position: relative
		&:last-child
			margin-bottom: 0
		&:hover
			color: $accent
		.input-checkbox
			display: block
			font-size: 0.9em
			margin-right: 10px
		&.checked
			.input-checkbox
				background-color: #fff
				outline: none
				border-color: $color-inputs-border
				&:before
					content: ""
					display: block
					width: 5px
					height: 9px
					border: 0 solid $accent
					border-width: 0 1px 1px 0
					transform: rotateZ(45deg)
					margin: -3px 4px
					pointer-events: none
					outline: none
					box-shadow: none

	.filter-option
		position: relative
		cursor: pointer
		transition: all 0.1s ease
		display: flex
		&__name
			max-width: calc(100% - 70px)
		&__qnty
			color: $color-filter-option-qnty
			margin-left: 7px
			text-shadow: none


.filter-trigger
	display: none
	font-weight: 400
	position: fixed
	background: darken($accent, 10%)
	color: $white
	padding: 10px 7px
	width: 26px
	word-wrap: break-word
	line-height: 1.258
	text-align: center
	top: 0
	left: 0
	z-index: 5
	font-size: 0.9em
	text-shadow: 0 0 0 #fff
	transition: left .7s cubic-bezier(.3,1,.44,1)
	&.active
		left: 290px
	i
		font-size: 0.9em
		margin-bottom: 5px
		display: inline-block


#filter-ask-layer
	position: absolute
	left: 0
	top: 0
	margin: -20px 0 0 20px
	padding: 10px
	background: #ffffff
	white-space: nowrap
	box-shadow: 0 0 10px 2px rgba(0,0,0,.1)
	box-sizing: border-box
	z-index: 10
	&:after
		content: ''
		position: absolute
		left: -9px
		top: 50%
		margin-top: -6px
		display: block
		width: 0
		height: 0
		border-top: 6px solid transparent
		border-bottom: 6px solid transparent
		border-right: 9px solid #FFF
	.btn
		margin-right: 15px
		font-size: 0.83em
		padding: 7px 20px 6px
		border: 2px solid #42cf9e
		b
			position: relative
			font-weight: 500
		&:before
			width: 0
			height: 100%
			transition: all 0.35s ease
		&:after
			display: none
		&:hover
			+media-breakpoint-up(md)
				color: #ffffff
				&:before
					width: 100%

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
	-webkit-appearance: none
	margin: 0


/*========== Media Desktop First  ==========*/
// ≥1200px
+media-breakpoint-down(lg)
	.filter
		padding-right: 7%

// ≥992px
+media-breakpoint-down(md)
	.filter-main-categories
		padding-top: 30px

	.filter__wrapper
		position: fixed
		top: 0
		left: 0
		width: 290px
		height: 200px
		overflow-y: auto
		max-width: 290px
		background: #ffffff
		border: 1px solid $color-border
		z-index: 10
		padding: 0 20px 55px
		transform: translateX(-100%)
		transition-property: transform
		transition: transform .7s cubic-bezier(.3,1,.44,1)
		&.active
			transform: translateX(0)
	
	.filter-trigger
		display: inline-block
	
	.filter
		padding-right: 0

	#filter-ask-layer
		display: block
		position: sticky
		top: 0
		left: 0
		width: 100%
		margin: 0
		padding: 4px 10px
		height: auto
		bottom: auto
		border-top: none
		&:after
			display: none

// ≥576px
+media-breakpoint-down(xs)
    .filter
        font-size: 0.93em
        &-trigger
            padding: 7px 12px
            width: 100%
            word-wrap: normal
            box-shadow: 0 0 10px 2px rgba(0,0,0,0.2)
            i
                margin: 0 5px 0 0
                display: inline
        &-tab__head
          padding: 17px 15px 16px 0

