.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
	white-space: normal;
}

.ui-autocomplete {
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 12px;
	text-align: left;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 3px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	background-clip: padding-box;
	max-width: 700px;
	min-width: 300px;
}

.ui-autocomplete a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857;
	color: #333;
	cursor: pointer;
}

label[for="input-image"] {
	display: block;
}

#input-image_thumb {
	display: block;
	max-width: 50px;
}

.languages-table img {
	max-width: 40px;
	display: block;
	height: auto;
}

.form-group_vertical label, .form-group_vertical img {
	display: block;
	margin-bottom: 10px;
}

input[type=checkbox], input[type=radio] {
	margin: 0;
	vertical-align: middle;
}