.page-article
	.reviews-form
		margin-top: 50px

.reviews-section
	margin-top: 55px
	&__head
		color: $color-reviews-head
		font-size: 0.9rem
		font-weight: 500
		text-shadow: 0 0 0 $color-reviews-head
		border-bottom: 1px solid #d1d1d1
		padding-bottom: 5px
		margin-bottom: 35px

.article
	&-img
		float: left
		margin: 0 45px 35px 0
		max-width: 400px
	&-info
		font-size: 0.9em
		margin-bottom: 20px
		.views
			margin-left: 20px
	&-nav
		margin-top: 50px
		.btn
			margin: 0 20px
			&:after
				height: 100%
			&:before
				width: 100%
	&-prev,
	&-next
		color: #d8d8d8
		font-size: 20px
		line-height: 1
		padding-top: 4px
	&-descr
		img
			margin: 0 20px 15px
		a
			color: darken($accent, 10%)
			text-decoration: underline
			+media-breakpoint-up(lg)
				&:hover
					text-decoration: none

.social__share
	padding-left: 12px
	font-size: 16px
.views
	padding-left: 18px
	position: relative
	&:before
		content: ''
		position: absolute
		left: 0
		top: 49%
		transform: translateY(-50%)
		background-image: url('../img/comment.png')
		background-repeat: no-repeat
		width: 14px
		height: 10px
		background-size: cover

.tooltip
	&:hover .tooltip-content
		top: calc(100% + 5px)
	&.social-fb .tooltip-content:before
		background-color: #3c5a99
	&.social-gp .tooltip-content:before
		background-color: #dc4141

.content-text, .text
	img
		margin: 0 20px 15px
	a
		color: darken($accent, 10%)
		text-decoration: underline
		+media-breakpoint-up(lg)
			&:hover
				text-decoration: none

/*========== Media Desktop First  ==========*/

// ≥768px
+media-breakpoint-down(sm)
	.article
		&-img
			max-width: 300px
			margin: 0 30px 20px 0

// ≥576px
+media-breakpoint-down(xs)
	.article
		&-img
			max-width: 100%
			margin: 0 auto 15px
			float: none
	.content-text, .text, .descr
		img
			margin: 0 auto 15px