.catalog-content
	padding-bottom: 60px

.product-sort__group
	margin-bottom: 30px
	.product-sort__item:first-of-type
		.product-sort__item-select
			min-width: 155px
			font-size: 0.85em
			max-width: 220px
	.product-sort__item-name
		font-size: 0.85em
		line-height: 1
		margin-right: 19px
		color: #a1a1a1
	.product-sort__item-selected
		+media-breakpoint-down(xs)
			display: inline-block
	.selectize-control
		line-height: 1
	.selectize-input
		padding: 6px 25px 6px 10px
		line-height: 1
		font-size: 0.85em
		color: #6f6f6f
		max-width: 220px
	.selectize-control.single .selectize-input:after
		right: 8px
		font-size: 10px
		border-width: 4px 3px 0 3px
		top: 55%
	.selectize-input.dropdown-active
		box-shadow: none
		border-radius: 0
	.selectize-control.single .selectize-input input
		display: none !important
	.has-dropdown__list .product-sort__item-selected
		padding: 2px 15px 2px 10px

/*========== Media Desktop First  ==========*/
// ≥576px
+media-breakpoint-down(xs)
	.product-sort__item
		margin: 0 15px 15px 0
		display: inline-block
		&:last-child
			margin: 0 0 15px 0
		&-name
			display: inline-block
			min-width: 90px