.page-delivery
	.accordion
		max-width: 650px
		margin: 40px auto
		&-item
			font-size: 1em
			margin-bottom: 0
			border-bottom: none
			border-left: none
			border-right: none
			&:last-child
				border-bottom: 1px solid #e8e8e8
			&__title
				display: flex
				align-items: center
				padding: 14px 30px 16px 55px
				&.active
					.i, svg
						color: darken($accent, 10%)
						fill: darken($accent, 10%)
					.st0
						stroke: darken($accent, 10%)
				.i
					font-size: 22px
					color: green
				.i, svg, img
					position: absolute
					left: 0
					bottom: 18px
					margin: 0
				svg
					width: 27px
					left: 5px
					bottom: 12px
					fill: green
				span
					margin-left: 0
					&.i
						margin-left: 0
			&__content
				max-width: none
				margin: 0
				padding: 8px 0 20px
				border-left: none
				>*
					margin-bottom: 0
					
