.cart-product__list--checkout.purchased-goods__list
  .cart-product
    flex-wrap: nowrap
    align-items: center
    &__descr
      flex-basis: 100%
      max-width: 100%
      padding: 0 30px 0 0
    .btn
      white-space: nowrap
    +media-breakpoint-down(xs)
      padding: 15px
      .btn
        padding: 8px 10px