.page-success.p-padding
  padding: 50px 0 480px
  position: relative
  +media-breakpoint-down(sm)
    padding: 40px 0 325px

.success-content
  text-align: center
  &__img
    margin: 0 auto
    max-width: 300px
    position: absolute
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    +media-breakpoint-down(sm)
      max-width: 200px
  &__title
    text-transform: uppercase
    font-size: 1.1rem
    font-weight: 500
    color: $accent
    margin: 0 auto 10px
  &__text
    margin: 0 0 30px

.page-failure
  text-align: center
  position: relative
  .failure__title
    margin: 0 auto 20px
    text-transform: none
    color: darken($accent, 5%)
    font-size: 1.3rem
    font-weight: 500
  .text-holder
    margin-bottom: 40px
    font-weight: 500
    p
      margin: 0
  .success-content__img
    transform: translateX(-65%)

.page-failure.page-success.p-padding
  padding: 50px 0 340px
  +media-breakpoint-down(sm)
    padding: 40px 0 240px
