@import "base/module"
@import "components/module"
@import "components/sections/module"
@import "components/pages/module"

::placeholder
	color: $color-inputs-placeholder

::selection
	background-color: $accent
	color: #fff

html
	font-size: 16px
	&.__fixed
		overflow: hidden
		+media-breakpoint-up(xl)
			margin-right: 17px
			#my-header
				width: calc(100vw - 17px)

body
	min-width: 320px
	position: relative
	line-height: 1.65
	font: 400 14px $font-base
	overflow-x: hidden
	color: $text
	input, textarea
		outline: none
		font-weight: 300
		-webkit-appearance: none
		box-shadow: none
		&:focus:required:invalid
			border-color: red

.wrapper
	overflow-x: hidden
	position: relative
	min-height: 100vh
	display: flex
	flex-direction: column
	justify-content: space-between

#my-content
	flex: 1

section, header, footer
	position: relative
	background-size: cover
	background-position: center

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

b, strong
	font-weight: bold

a, a:active, a:focus, a:hover 
	color: inherit
	text-decoration: inherit
	outline: 0
	transition: all 0.2s ease

a
	text-transform: inherit
	svg
		transition: all 0.2s ease
	&:hover
		color: $black
		svg
			fill: $black
	
img 
	max-width: 100%
	height: auto

p 
	margin-top: 0
	line-height: 1.65
	margin-bottom: 20px

p:last-child 
	margin-bottom: 0

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6
	margin: 0
	line-height: 1.25
	text-transform: uppercase
	font-weight: 500

h1, .h1
	font-size: 1.4rem
h2, .h2
	font-size: 1.3rem
h3, .h3
	font-size: 1.2rem
h4, .h4
	font-size: 1.1rem
h5, .h5
	font-size: 1rem
h6, .h6
	font-size: 0.9rem

button,
button:hover,
button:focus
	outline: none
	border: none
	-webkit-appearance: none
	transition: all 0.2s ease
button
	&:hover, &:focus
		color: $black
		svg
			fill: $black
	svg
		transition: all 0.2s ease
	&.btn
		&:hover, &:focus
			border-right: 2px solid $accent 
			border-bottom: 2px solid $accent 

.accent
	color: $accent

.hidden
	display: none

.text-center,
.t-a-center
	text-align: center

.t-a-left
	text-align: left

.t-a-right
	text-align: right

.__bg
	background-size: cover
	background-repeat: no-repeat

.s-title
	font: 500 1rem $font-base
	margin: 0 0 2.2rem
	text-align: center
	
button
	background: transparent
	cursor: pointer
	padding: 0
	line-height: 1

input, textarea, select, button
	font-family: $font-base

.dark-section
	background: $black
	color: $white
	svg
		fill: $white

.socials-list
	padding: 0
	li
		list-style-type: none

.slick-dots
	li
		button
			color: $accent
			background: $accent
			width: 19px
			height: 4px
			opacity: 0.4
			padding: 0
			&:before
				display: none
		&.slick-active
			button
				opacity: 1

.__show-overlay
	.page-overlay 
		opacity: 1
		visibility: visible

.page-overlay 
	position: absolute
	background: rgba(0,0,0,0.5)
	opacity: 0
	visibility: hidden
	transition-property: opacity, visibility
	transition-duration: 0.2s
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 9
	&.__overlay-blue
		background: rgba(0,79,125,0.5)

.__transparent
	.mfp-bg
		background: transparent

input, textarea
	border: 1px solid $color-inputs-border
	border-radius: 0
	padding: 9px 15px
	display: block
	margin-bottom: 9px
	font-size: 0.9em
	box-sizing: border-box
	max-width: 100%
	width: 100%
	&:last-child
		margin-bottom: 0
	&:placeholder
		color: $color-input

input
	line-height: 1

textarea
	resize: none

.page-content
	&.__padding
		padding: 85px 0 70px

.p-title
	font-weight: 400
	font-size: 1.25rem

.title-with-btn
	margin-bottom: 55px
	.s-title
		margin-bottom: 0

.btn
	display: inline-block
	text-transform: uppercase
	font-size: 0.8rem
	font-weight: 500
	padding: 0.7rem 2.1rem 0.5rem
	line-height: 1.2
	border: none
	border-right: 2px solid $accent
	border-bottom: 2px solid $accent
	position: relative
	outline: none
	box-shadow: none
	text-align: center
	&:hover,
	&:focus
		outline: none
		box-shadow: none
		text-decoration: none
		color: $text
	&:hover
		&:before
			width: 100%
		&:after
			height: 100%
	&:before,
	&:after
		content: ''
		position: absolute
		background: $accent
		transition: all 0.25s ease
	&:before
		top: 0
		right: 0
		height: 2px
		width: 11px
	&:after
		left: 0
		bottom: 0
		height: 11px
		width: 2px
	+media-breakpoint-down(sm)
		padding: 9px 2.1rem 8px

.btn-accent
	display: inline-block
	text-transform: uppercase
	font-size: 0.8rem
	font-weight: 500
	padding: 0.7rem 2.1rem 0.6rem
	line-height: 1.2
	background: darken($accent, 10%)
	color: $white
	letter-spacing: 1px
	&:hover, &:focus
		color: $white
	span
		color: $white

.btn-continue
	display: inline-block
	text-transform: uppercase
	font-size: 0.8rem
	font-weight: 500
	padding: 10px 2.1rem 11px
	line-height: 1.2
	color: $color-btn-continue
	border: 1px solid #b2b2b2
	&:hover, &:focus
		border-color: $accent

.success
	position: absolute
	background: #fff
	left: 0
	top: 0
	right: 0
	bottom: 0
	z-index: 2
	display: none
	font-weight: 400
	padding: 0 5%
	font-size: 0.9rem
	line-height: 1.6
	&.active
		display: flex
	>*
		margin: auto
		text-align: center
		span:first-child
			margin-bottom: 15px
			display: block
			font-size: 1rem
	.success-title
		color: $accent
		font-weight: 500
		text-transform: uppercase
		display: block
.logo
	img
		width: 112px
		height: auto

.has-dropdown
	position: relative
 
.dropdown
	position: absolute
	top: calc(100% + 10px)
	left: -15px
	padding: 15px
	min-width: 160px
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.07)
	list-style: none
	background-color: #fff
	margin: 0
	z-index: 5
	display: none
	&:before
		content: '\f0d8'
		font-family: 'icomoon'
		color: #fff
		z-index: 1
		font-size: 16px
		position: absolute
		left: 50%
		bottom: calc(100% - 4px)
		transform: translateX(-50%)
	li
		margin-bottom: 8px
		&:last-child
			margin-bottom: 0
		a
			display: block
			&:hover
				color: $black
				text-shadow: 0 0 0 #000

.icon_telegram,
.icon_viber,
.icon_whatsapp
	margin-left: 7px
	width: 16px
	height: 18px
	background-repeat: no-repeat
	background-size: contain
	line-height: 1
	font-size: 0.9em
	text-shadow: none
	display: inline-flex

.icon_telegram
	background-image: url('../img/icon_telegram.png')
	font-size: 1em
.icon_viber
	background-image: url('../img/icon_viber.jpg')
.icon_whatsapp
	position: relative
	font-family: 'icomoon'
	speak: none
	font-style: normal
	font-weight: 400
	font-variant: normal
	text-transform: none
	line-height: 1.04
	-webkit-font-smoothing: antialiased
	color: #25d366
	font-size: 1.24em
	&:before
		content: "\ea93"

.phones-list, .h-phones__dropdown
	.a
		display: flex
		align-items: center
		a
			line-height: 1
			display: inline-flex
		span
			line-height: 1

.h-phones__dropdown .icon_whatsapp
	font-size: 1.26em

.ul
	margin: 0
	padding: 0
	li
		list-style-type: none
	
.s-padding
	padding: 65px 0

.p-padding
	padding: 30px 0 50px 

.p-padding__sm
	padding: 30px 0 20px

// .hamburger
.hamburger 
	padding: 0
	display: block
	line-height: 1
	height: 18px
	cursor: pointer
	transition-property: opacity, filter
	transition-duration: 0.15s
	transition-timing-function: linear
	font: inherit
	color: inherit
	text-transform: none
	background-color: transparent
	border: 0
	margin: 0
	overflow: visible 
	&-box 
		width: 30px
		height: 18px
		display: inline-block
		position: relative 
	&-inner 
		display: block
		top: 50%
		margin-top: -2px
		&::before, &::after 
			content: ""
			display: block 
		&::before 
			top: -7px 
		&::after 
			bottom: -7px
	&-inner, 
	&-inner::before, 
	&-inner::after 
		width: 30px
		height: 2px
		background-color: #383838
		border-radius: 4px
		position: absolute
		transition-property: transform
		transition-duration: 0.15s
		transition-timing-function: ease 

// 3dx
.hamburger--3dx .hamburger-box 
  perspective: 80px 
.hamburger--3dx .hamburger-inner 
  transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) 
.hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after 
	transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) 
.hamburger--3dx.is-active .hamburger-inner 
  background-color: transparent
  transform: rotateY(180deg) 
.hamburger--3dx.is-active .hamburger-inner::before 
	transform: translate3d(0, 9px, 0) rotate(45deg) 
.hamburger--3dx.is-active .hamburger-inner::after 
	transform: translate3d(0, -9px, 0) rotate(-45deg) 
// /.hamburger

.selectize-dropdown
	box-shadow: 0 0 13px rgba(0, 0, 0, 0.25)
	border: none

.rating-wrap
	display: flex
	flex-wrap: wrap
	align-items: center

.rating
	font-size: 0.9rem
	line-height: 1
	.i_stack-1x
		color: $color-rating-star-gray
	.i_stack-2x
		color: $color-rating-star-accent

.reviews-number
	font-size: 0.7em
	color: $gray-2
	margin-left: 8px

a.more
	color: $color-btn-more
	display: inline-block
	font-size: 0.72rem
	line-height: 1
	&:hover
		color: $accent
	>*
		display: inline-block
		vertical-align: middle
	>span:first-child
		margin-right: 5px
	i
		font-size: 1.3em
		font-weight: 600

.slick-next, .slick-prev
	width: auto
	height: auto
	color: $black
	font-size: 24px
	font-weight: 300
	line-height: 16px
	&:focus, &:hover, &:hover:before
		color: $black
	&.slick-disabled
		opacity: 0.25
		color: $black
	&:before
		color: $color-slider-arrows
		font-size: 1em
		line-height: 17px
		display: block
		font-family: 'icomoon'
		opacity: 1

	+media-breakpoint-up(md)
		&:hover, &:hover:before
			color: $accent

	&.slick-disabled:before
		color: $black

.slick-prev:before
	content: '\e904'

.slick-next:before 
	content: "\e905"

.slick-dots
	bottom: 30px
	li
		width: 8px
		height: 8px
		border-radius: 50%
		margin: 0 7px
		+media-breakpoint-down(xs)
			width: 10px
			height: 10px
		&.slick-active
			button
				background: $accent
				opacity: 1
		button
			width: 8px
			height: 8px
			border-radius: 50%
			background: #c6c6c6
			opacity: 1
			+media-breakpoint-down(xs)
				width: 10px
				height: 10px

.socials
	color: $color-socials
	li
		margin-right: 8px
		&:last-child
			margin-right: 0
		i
			transition: all 0.2s ease
		.i-facebook:hover
			color: #4267b2
		.i-twitter:hover
			color: #1da1f2
		.i-youtube:hover
			color: #ff0000
		.i-instagram:hover
			color: #e4405f
		a
			transition: none
			&:hover
				text-shadow: none

html.mm-pagedim-black.mm-opening #mm-blocker, html.mm-pagedim-white.mm-opening #mm-blocker, html.mm-pagedim.mm-opening #mm-blocker
	opacity: 0.5

.mm-opened
	#my-content
		z-index: 5
	.mm-menu.mm-offcanvas
		z-index: 10

.mm-title
	color: $black
	text-shadow: 0 0 0 $black

.mm-listview
	color: $color-h

.btn-close
	font-size: 20px
	opacity: 1
	color: $color-close-icon
	
.mfp-close-btn-in .mfp-close
	color: $color-close-icon

.selectize-input
	border-radius: 0
	box-shadow: none
	color: $text
	input::placeholder
		color: $color-inputs-placeholder

select::placeholder
	color: $color-inputs-placeholder

input[type="radio"],
input[type="checkbox"],
.input-checkbox
  -webkit-appearance: none
  width: 16px
  height: 16px
  padding: 4px 1px
  border: 1px solid #cacaca
  border-radius: 3px
  outline: none
  margin: 0
  box-sizing: border-box
  box-shadow: none
  cursor: pointer
  background-color: #fff
  &:checked:before,
  &:checked:before
    content: ""
    display: block
    width: 5px
    height: 9px
    border: 0 solid $accent
    border-width: 0 1px 1px 0
    transform: rotateZ(45deg)
    margin: -3px 4px
    pointer-events: none
    outline: none
    box-shadow: none
  &:checked,
  &:checked
    background-color: #fff
    outline: none
    border-color: $color-inputs-border



.remove
	font-family: 'icomoon'
	font-size: 1em
	color: $color-close-icon
	&:before
		content: '\e901'
	&:hover
		color: darken($color-close-icon, 10%)

.p-title
	font-size: 1.13rem
	text-transform: uppercase
	font-weight: 500
	text-shadow: 0 0 0 $text
	margin-bottom: 25px

.btn-more
	background: $color-btn-more-bg
	display: block
	text-align: center
	padding: 10px
	font-size: 0.9rem
	text-shadow: 0 0 0 $text
	margin: 15px 0
	cursor: pointer

.descr
	line-height: 1.7
	>*
		margin-bottom: 1rem

.clearfix
	&:after
		content: ''
		display: block
		clear: both

.content-text
	h1, h2, h3, h4, h5, h6, p, ul, ol
		margin: 0 0 0.9rem
	ul
		padding: 0
		line-height: 1.5
		padding-inline-start: 0
		list-style-position: inside
		li
			margin-bottom: 6px
	ol 
		padding: 0
		line-height: 1.5
		list-style-position: inside
		li
			margin-bottom: 6px
	a
		text-decoration: underline

	&.delivery-oreder__content-text
		ul
			padding-left: 2%

.l-p-i
  ul, ol
  	list-style-position: inside

.full-width
	width: 100%

.selectize-input
	padding: 8px 28px 8px 8px

.product-info__availability
	color: $color-product-availability
	&:before
		background: $color-product-availability
	&--available
		color: $accent
		&:before
			background: $accent

/* ============ .top button ============ */
.top 
	position: fixed
	bottom: 30px
	background: rgba(255,255,255,0.85)
	border: 1px solid $accent
	color: darken($accent, 10%)
	width: 30px
	height: 30px
	font-size: 1.1rem
	line-height: 30px
	text-align: center
	cursor: pointer
	right: -100px
	z-index: 12
	transition: all 0.15s ease
	&:hover
		background: $accent
		color: $white
	&.active
		right: 20px
/* ============ /.top button ============ */

form
	.error
		color: #f10000
		margin-top: 3px
		left: 0
		position: absolute
		top: 100%	

.has-dropdown__list
	position: relative
	&.active
		.dropdown-list
			visibility: visible
			opacity: 1
			height: auto
			z-index: 2
		.product-sort__item-selected:before
			content: '\f0d8'
	.product-sort__item-selected
		font-size: 0.858em
		color: $gray
		padding: 2px 18px 2px 10px
		border: 1px solid $gray-2
		position: relative
		cursor: pointer
		&:before
			content: '\f0d7'
			font-family: icomoon
			position: absolute
			right: 5px
			top: 50%
			transform: translateY(-50%)
			font-size: 12px

.dropdown-list
	visibility: hidden
	opacity: 0
	position: absolute
	right: 0
	top: 100%
	padding: 5px 0
	height: 0
	border: 1px solid $border-color
	background: $white
	font-size: 0.9em
	z-index: -1
	transition: all 0.2s ease
	li
		padding: 4px 18px 4px 10px
		line-height: 1.2
		list-style-type: none
		color: $gray
		&:hover
			color: $black
		a
			color: inherit
			line-height: 1
			display: block


.empty-search
	margin-bottom: 40px
	.h3
		margin-bottom: 15px

.item-animate, .animate-item
	opacity: 0


.text__show
	margin-bottom: 3rem
	&-toggle
		font-style: italic
		color: green
		cursor: pointer
	&-head
		font-weight: 700
		margin-bottom: 1rem
	&-content
		display: none
		&.active
			display: block
		>*
			margin-bottom: 1rem
		ul
			padding-left: 40px
			list-style-position: outside
			li
				list-style-type: disc
				line-height: 1.3
				margin-bottom: 8px

/*========== Media Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
	.s-padding
		padding: 50px 0

// ≥992px
+media-breakpoint-down(md)
	.hidden-md
		display: none

// ≥768px
+media-breakpoint-down(sm)
	.hidden-sm
		display: none

	html
		font-size: 14px
	
	.s-title
		margin-bottom: 2rem
	
	.s-padding
		padding: 40px 0
	
	.slick-prev
		left: 0
	.slick-next
		right: 0
	
	.btn, .btn:hover, .btn:focus
		background: darken($accent, 10%)
		border: none
		color: $white
		&:before, &:after
			display: none	

	button.btn:hover
		border: none

// ≥576px
+media-breakpoint-down(xs)
	.hidden-xs
		display: none

	.p-title
		font-size: 1rem
		margin-bottom: 20px
		text-shadow: none
		line-height: 1.4
	
	h1, .h1
		font-size: 1.2rem
	h2, .h2
		font-size: 1.1rem
	h3, .h3
		font-size: 1.1rem
	h4, .h4
		font-size: 1.05rem
	h5, .h5
		font-size: 1rem
	h6, .h6
		font-size: 0.95rem

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)
	.hamburger
		  display: none
	.text__show-toggle:hover
		  text-decoration: underline


// ≤1200px
+media-breakpoint-up(xl)